header {
    height: 40px;
}

a {
    text-decoration: none;
    margin-left: 30px;
}

.link {
    margin-left: 850px;
}

.form {
    /* background-color: aqua; */
    height: 350px;
    width: 550px;
    margin-left: 400px;
}

.f {
    margin-left:80px;
}

#legend {
    margin-left: 170px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

#lline {
    font-size: large;
    font-weight: 200;
}

iframe {
    width: 900px;
    height: 400px;
}

footer {
    text-align: end;
    height: 40px;
}

input {
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s;
}

input:focus {
    border-radius: 0px;
    /* border: 2px solid black; */
}