.Biryani, .Masaladosa, .Gulabjamun {
    float: left;
    margin-right: 100px;
    padding: 15px;
    background-color: rgba(175, 191, 198, 0.843);
    box-shadow: 1px 1px 5px 12px rgba(92, 96, 98, 0.483);
}

#biryani, #masaladosa, #gulabjamun {
    height: 222px;
}

@media screen and (max-width: 384px) {
    .Biryani, .Masaladosa, .Gulabjamun {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}