.p2 {
    text-align: center;
    /* background-image: url(./pngtree-orange-green-indian-independence-day-flag-splashes-abstract-background-picture-image_1454802.jpg); */
    padding: 10px 0px;
    /* height: 25vh; */
    margin-left: 70px;
    width: 1187px;
}
.India {
    /* background-color: aqua; */
    margin-left: 33%;
    margin-top: 50px;
    height: 50vh;
    width: 33.5vw;
}

#india {
    height: 50vh;
}

#li {
    list-style: none;
    font-size: larger;
}

#p3 {
    font-size: medium;
    font-family: monospace;
    text-align: center;
}

h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.Taj, .Minar, .Dance, .Biryani, .Sfood {
    float: left;
    /* margin-right: 50px; */
    /* margin: 18px; */
    padding: 15px;
    width: auto;
    background-color: rgba(175, 191, 198, 0.843);
    box-shadow: 1px 1px 5px 12px rgba(92, 96, 98, 0.483);
}

#tajmahal, #qutubminar, #dance, #biryani, #sfood {
    height: 222px;
}

@media screen and (max-width: 384px) {
    .p2 {
        /* background-color:aquamarine; */
        height: 23vh;
        width: 100%;
        margin-left: 0px;
        padding: 0px 0px;
        text-align: left;
    }
    #li {
        list-style:inside disc;
        font-size: medium;
        margin-left: -30px;
        margin-top: 10px;
    }
    .India {
        /* background-color: black; */
        height: 30vh;
        width: 93%;
        margin-left: 3%;
    }
    #india {
        height: 30vh;
    }
    #hi {
        margin-left: -15px;
    }
    .Taj, .Minar, .Biryani, .Sfood {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}